.container {
    background: #ECF2F8;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1110px;
    height: 572px;
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 282px 266px;
    column-gap: 30px;
    row-gap: 24px;
}